.Count {
  margin-top: 100px;
  padding: 100px 0px;
  position: relative;
  background: url('../assets/images/couplebackground.jpg');
  background-color: #fdfdfd;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.clock {
  display: flex;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #fdfdfd;
  font-size: 30px;
  border: 4px solid #ebcbcb;
  border-radius: 10px;
}

.Count-Heading-Main {
  color: #2d2b2b; 
  font-weight: bold; 
  font-size: 55px;
  margin-left: -5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
}

.Count-Heading {
  color: #2d2b2b;
  font-size: 30px;
  margin-right: 100px;
  font-style: italic;
}

.count-days {
  font-size: 14px;
}

@media (max-width: 768px) {}
  