.Count {
    padding-top: 100px;
    position: relative;
    background: url('../assets/images/couplebackground.jpg') ;
    background-size: 200px 200px; /* Set specific width and height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .overlay {
    padding-top: 100px;
    text-align: center;
    color: white;
  }
  
  .overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .overlay h1 {
    font-size: 48px;
    font-family: 'Dancing Script', cursive; /* Use a script font like in the image */
  }
  @media (max-width: 768px) {
    .Count {
      background-size: 100% 200px;  /* Smaller size for mobile */
    }
  }
  