/* Footer Styles */
footer {
    background-color: #f0c8b086;
    color: #6c6463;
    font-weight: bold;
    padding: 30px;
    text-align: center;
  }
  
  footer p {
    font-size: 23px;
    margin: 0;
  }
  