/* Header Styles */
.header {
    width: 100%;
    background-color: #f5f1f100;
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative; 
    top: px; 
  }
  
  .sticky {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 1000;
    box-shadow: 0 4px 8px #e3bba45e;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    gap: 80px;
  }
  
  .logo {
    color: #f0c9b0cb;
    letter-spacing: 1px; 
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Left and right parts of the logo */
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .nav-links li a {
    color: #4f504e;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #8b6355;
  }
  