/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  section {
    padding: 100px 0;
  }
  
  h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
  }
  